In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20180925034918-0000

   Rank   Country  (%) Date of Information
0     1  Cambodia  0.0           2011 est.
1     2     Qatar  0.4           2014 est.
2     3  Guernsey  0.9     March 2006 est.
3     4  Thailand  1.0           2014 est.
4     5   Belarus  1.0           2009 est.